.loginBox{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30%;
    height: 50vh;
    margin: auto;
    margin-top: 5rem; 
  
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 28vh;
  
}
.email{
    width: 80%;
}
.password{
    width: 80%;
}
.loginBtn{
    width: 80%;
    height: 3rem;
    background-color:#8e66b2; 
}